[submodule "Jotunn/vendor/GLEW"]
	path = Jotunn/vendor/GLEW
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "Jotunn/vendor/GLFW"]
	path = Jotunn/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Jotunn/vendor/GLM"]
	path = Jotunn/vendor/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Jotunn/vendor/ASSIMP"]
	path = Jotunn/vendor/ASSIMP
	url = https://github.com/assimp/assimp.git
[submodule "Jotunn/vendor/IMGUI"]
	path = Jotunn/vendor/IMGUI
	url = https://github.com/ocornut/imgui.git
